# Server
NODE_ENV='...'
APP_SECRET='...'
PORT='...'

# PostgreSQL database url
DATABASE_URL='...'

# JWT
JWT_SECRET_KEY='...'

# Supabase
SUPABASE_URL='...'
SUPABASE_SECRET_KEY='...'

# Mailer
MAILER_HOST='...'
MAILER_USER='...'
MAILER_PASSWORD='...'

# CORS
FRONTEND_BASE_URL='...'
AUTH_APP_URL="..."

# IP info
IP_INFO_SECRET_KEY='...'

# Telegram API
TELEGRAM_BOT_TOKEN='...'
TELEGRAM_CHAT_ID='...'

# Hunter IO
EMAIL_VERIFICATION_TOKEN='...'

# Open AI
OPEN_AI_SECRET_KEY='...'

# Google API
GOOGLE_CLIENT_ID='...'
GOOGLE_CLIENT_SECRET='...'
GOOGLE_CALLBACK_URL='...'